<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <style>
        label {
            font-weight: normal;
        }

        .panel-body .icon-remove {
            display: none;
        }

        .panel-body:hover .icon-remove {
            display: inline-block
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-8 col-lg-offset-2">
                <h2>记账本</h2>
                <hr />
                <div class="accounts">
                    <% accounts.forEach(item=> { %>
                        <div class="panel  <%= item.type==='-1' ? 'panel-danger' : 'panel-success' %>">
                            <div class="panel-heading">
                                <%= item.time %>
                            </div>
                            <div class="panel-body">
                                <div class="col-xs-6">
                                    <%= item.title %>
                                </div>
                                <div class="col-xs-2 text-center">
                                    <span class="label <%= item.type==='-1' ? 'label-warning' : 'label-success' %> ">
                                        <%= item.type==='-1' ? '支出' : '收入' %>
                                    </span>
                                </div>
                                <div class="col-xs-2 text-right">
                                    <%= item.account %> 元
                                </div>
                                <div class="col-xs-2 text-right">
                                    <a href="/account/<%= item.id %>">
                                        <span class="icon icon-remove" aria-hidden="true">
                                            <svg t="1747019311390" class="icon" viewBox="0 0 1024 1024" version="1.1"
                                                xmlns="http://www.w3.org/2000/svg" p-id="1598" width="16" height="16">
                                                <path
                                                    d="M851.416 217.84l-45.256-45.248L512 466.744l-294.152-294.16-45.256 45.256L466.744 512l-294.152 294.16 45.248 45.256L512 557.256l294.16 294.16 45.256-45.256L557.256 512z"
                                                    fill="#272536" p-id="1599"></path>
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                </div>
            </div>
        </div>
    </div>
</body>

</html>